/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
@font-face {
  font-family: 'SFProText-Regular';
  src: local('SFProText-Regular'), url(../../mobile/assets/fonts/SF-Pro-Text-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'SFProText-Light';
  src: local('SFProText-Light'), url(../../mobile/assets/fonts/SF-Pro-Text-Light.otf) format('truetype');
}
@font-face {
  font-family: 'SFProText-SemiBold';
  src: local('SFProText-SemiBold'), url(../../mobile/assets/fonts/SF-Pro-Text-Semibold.otf) format('truetype');
}

html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
}

body {
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.camera_input_wine {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.camera_label_wine {
  flex: 1;
  padding: 18px;
  font-family: 'SFProText-Light';
  cursor: pointer;
}
